body {
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3B758C;
  
}

.h1 {
  border-radius: 10px;
  border: 2px solid black;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
  background-color: #7AACBF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
  margin-bottom: 5px;
  margin-top: 95px;
  
}

#calculadora {
  border-radius: 10px;
  border: 2px solid black;
  /* width: 40%; */
  margin: 0 auto;
  padding: 10px;
  background-color: #7AACBF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
  
  background-size: 100% 100%;
  position: absolute; /*caixa menor absolute*/
  height: 250px;
  width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#paragraph-result {
  margin-top: 50px;
}

input {
  margin-top: 5px;
  width: 200px;
}
